*.ihx
*.map
*.rel
*.lst
*.hex
*.o
*.rpt
*.summary
*.bak

src/max7219/db/*.*
src/max7219/html/*.*
src/max7219/incremental_db
src/max7219/simulation
src/max7219/*.rpt
src/max7219/*.summary
src/max7219/*.done
src/max7219/*.smsg
src/max7219/*.pin
src/max7219/*.jdi

